body {
  background-color: #111;
  color: #fff;
  font-family: 'Inter','Roobert','Helvetica Neue',Helvetica,Arial,sans-serif;
  -webkit-user-select: none;
  text-decoration: none;
  user-select: none;
  font-size: small;
}

.center {
  margin: auto;
  width: 90%;
  padding: 10px;
}

body div div {
  display:flexbox;
}

*:focus {
  outline: 0;
}

input {
  flex-grow: 0!important;
  align-items: center!important;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  white-space: nowrap;
  user-select: none;
  font-weight: 600;
  border-radius: 0.4rem;
  border-color: #111;
  height: 2.25rem;
  background-color: #262626;
  color: #fff;
  -moz-box-align: center;
  width: 100%;
  padding-left: 0.5rem;
  font-weight: 400;
}

button {
  flex-grow: 0!important;
  align-items: center!important;
  display: inline-flex;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 0.4rem;
  border-color: #111;
  font-size: 1rem;
  font-weight: 600;
  height: 3rem;
  background-color: #9147ff;
  color: #fff;
  width: 100%;
  -moz-box-align: center;
}

button:hover {
  background-color: #772ce8;

}

.selected {
  background-color: #6ABE30;
}

.selected:hover {
  background-color: #51971e;
}

button:active {
  background-color: #5c16c5;
}

::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background: #111111;
}
::-webkit-scrollbar-thumb {
  background: #262626;
}
::-webkit-scrollbar-thumb:hover {
  background: #262626;
}

.fade-in-image {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

.fade-out-image {
  animation: fadeOut 1s;
  -webkit-animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  -o-animation: fadeOut 1s;
  -ms-animation: fadeOut 1s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}



@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@-moz-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@-o-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@-ms-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}